<!DOCTYPE html>
<header id="header" class="clear" xmlns:th="http://www.w3.org/1999/xhtml">
    <div id="hgroup">
        <h1><a href="#">Travel Manager</a></h1>
        <h2>Travel for free almost</h2>
    </div>
    <nav th:if="${user != null}">
            <ul>
                <li><a th:href="@{/myTripList}">My Trips</a></li>
                <li><a th:href="@{/countries}">Country list</a></li>
                <li class="last"><a th:href="@{/logout}">Logout</a></li>
            </ul>
    </nav>

    <nav th:unless="${user != null}">
        <ul>
            <li><a th:href="@{/login}">Login</a></li>
            <li class="last"><a th:href="@{/register}">Register</a></li>
        </ul>
    </nav>
</header>