<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Country details</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/layout.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
</head>
<body>
<div class="wrapper row1">
    <header id="header" class="clear">
        <div class="wrapper row1">
            <header th:insert="fragments/header.html :: header"></header>
        </div>
    </header>
</div>
<!-- content -->
<div class="index-body">

    <div class="wrapper row2">
        <div id="container" class="clear" th:object="${country}">
            <section id="slider"><img th:src="${country.imgString}" style="max-width:960px; max-height:360px;" alt="">
            </section>
            <section id="intro" class="last clear">
                <article>
                    <figcaption>
                        <h2 th:text="${country.name}"></h2>
                        <p th:text="${country.description}"></p>
                    </figcaption>
                    </figure>
                </article>
            </section>

            <section id="cities" class="last clear">
                <h2 style="margin-top: 16px; margin-bottom: 16px">Cities</h2>
                <table style="width:100%;" th:each="city : ${cities}">
                    <tr>
                        <div class="card">
                            <h4 style="padding-top: 8px; padding-bottom: 8px;"><b th:text="${city.name}"></b></h4>
                            <div class="block-with-text">
                                <p th:text="${city.district}"></p>
                            </div>
                        </div>
                    </tr>
                </table>
            </section>
        </div>

    </div>
    <!-- Copyright -->
    <div class="wrapper row4">
        <footer id="copyright" class="clear">
            <p class="fl_left">Copyright &copy; 2019 - All Rights Reserved - <a href="#">Travel manager app</a></p>
            <p class="fl_right"><a target="_blank" href="https://www.google.com/"
                                   title="Travel Manager">Travel Manager</a></p>
        </footer>
    </div>
</div>
</body>
</html>
