<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Countries</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/layout.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/countries.css}" type="text/css">
</head>
<body>
<div class="wrapper row1">
    <header id="header" class="clear">
        <div id="hgroup">
            <h1><a href="#">Travel Manager</a></h1>
            <h2>Travel for free almost</h2>
        </div>
        <nav>
            <ul>
                <li><a href="#">My Countries</a></li>
                <li class="last"><a href="#">Logout</a></li>
            </ul>
        </nav>
    </header>
</div>
<!-- content -->
<div class="wrapper row2">
    <div id="container" class="clear">
        <!-- main content -->
        <div id="homepage">
            <!-- Services -->
            <div class="search-container">
                <form method="get">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit">Submit<i class="fa fa-search"></i></button>
                </form>
            </div>
            <table style="width:100%" th:each="country : ${countries}">
                <tr>
                    <div class="card">
                        <img style="float: left; margin: 0px 15px 15px 0px;" th:src="@{/images/home.jpg}" width="290"
                             height="180" alt="">
                        <div class="card-container">
                            <h4><b th:text="${country.name}"></b></h4>
                            <div class="block-with-text">
                                <p th:text="${country.description}"></p>
                            </div>
                            <footer class="more"><a th:href="@{country_details/(countryId=${country.id})}">Read More &raquo;</a></footer>
                        </div>
                    </div>
                </tr>
            </table>
        </div>
        <!-- / content body -->
    </div>
</div>
<!-- Copyright -->
<div class="wrapper row4">
    <footer id="copyright" class="clear">
        <p class="fl_left">Copyright &copy; 2019 - All Rights Reserved - <a href="#">Travel manager app</a></p>
        <p class="fl_right"><a target="_blank" href="https://www.google.com/"
                               title="Travel Manager">Travel Manager</a></p>
    </footer>
</div>
</body>
</html>
