<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Countries</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/layout.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
</head>
<body>
<div class="wrapper row1">
    <header th:insert="fragments/header.html :: header"></header>
</div>
<!-- content -->
<div class="index-body">
    <img class="index-image" th:src="@{/images/home.jpg}">
    <div class="centered">
        <h1>Manage your travels with pleasure</h1>
    </div>
</div>
<!-- Copyright -->
<div class="wrapper row4">
    <footer id="copyright" class="clear">
        <p class="fl_left">Copyright &copy; 2019 - All Rights Reserved - <a href="#">Travel manager app</a></p>
        <p class="fl_right"><a target="_blank" href="https://www.google.com/"
                               title="Travel Manager">Travel Manager</a></p>
    </footer>
</div>
</body>
</html>
