<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/layout.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/utils.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
</head>
<body>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" action="/login/"  method="post">
                <span class="login100-form-title p-b-34 p-t-27">
						Login
					</span>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" placeholder="Enter Email" name="email">
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input placeholder="Enter your Password" type="password" class="input100" name="password" rows="10" cols="30">
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button  type="submit" style="color : white">Login</button>
                </div>
                <div>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>