<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/layout.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/utils.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
</head>
<body>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" action="/login/"  method="post">
                <span class="login100-form-title p-b-34 p-t-27">
						Login
					</span>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" placeholder="Enter Email" name="email" required>
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input placeholder="Enter your Password" type="password" class="input100" name="password" rows="10" cols="30" required>
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button  type="submit" th:value="Login" style="color : white">Login</button>
                </div>

            </form>
            <div class="container" style="background-color:#f1f1f1">
                <div th:if="${errormessage}">
                    <div th:text="${errormessage}" style="color: white">Error message</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>